.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

    &__title {
        margin: 0 0 50px 0;
        @include font-clamp(30px, 60px, 320px, 1320px);
        text-align: center;
        letter-spacing: 2px;
        user-select: none;
        color: $titleColor;
    }
    &__form {
        width: min(50%, 500px);
    }
    &__city {
        padding: 15px 5px;
        border-radius: 25px;
        border: 0;
        width: 100%;
        text-align: center;
        outline: none;
        font-weight: 700;
        @include font-clamp(12px,24px,320px,1320px);
        margin: 0 0 40px 0;
    }
    &__info {
        padding: 30px;
        background-color: #0000002d;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        color: $titleColor;
        border-radius: 25px;
    }
    &__icon {
        width: calc(100%/3);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            width: 100%;
        }
    }

    &__temp {
        width: calc(100%/3);
        font-size: 60px;
        display: flex;

        
        span {
            font-size: 24px;
        }
    }
    &__additional-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        gap: 15px;
        width: 150px;

    }
    &__wind {
        width: 100%;
    }

}